/* div.App {
  background-repeat: no-repeat;
  background-image: url('./components/10_images/Shankar-col-sm.png');
}

@media only screen and (min-device-width: 400px) {
  div.App { 
     background-image: url('./components/10_images/About_Shankar.png'); 
  }
} */

@media (min-width: 768px) {
  body {
    height: 100vh;
    background-image: url('./components/10_images/Shankar.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    }
}

@media (max-width: 767px) {
  body {
    background-size: cover;
    background-image: url('./components/10_images/Shankar-col-sm.png');
    background-repeat: no-repeat;
  }
}
.navbar{
  background: rgb(0,0,0,0.3);
}

.main{
  padding-top: 11em;
}

.social-media
{
  margin-top: 10em;
  margin-right: 10px;
  float: right;
}

.portfolio-card:hover{
  opacity: 0.2;
  cursor: pointer;
}

.navbar-brand span{
  position: absolute;
  font-weight: bold;
  top:23px;
}

.footer{
  color: white;
}